@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&display=swap');

/* font-family: 'IBM Plex Sans Arabic', sans-serif; */


body{
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: top left;
  background-image: url("./4bg3.jpg");
  background-color: rgb(204, 181, 139);
  background-size: fill;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

body::-webkit-scrollbar{
  width: 15px;
  /* background: rgb(204, 181, 139); */
  background-color: transparent;
}

body.up::-webkit-scrollbar-thumb{
  background: linear-gradient(0, transparent, green);
  border-radius: 15px;
  transition: background-color 100ms ease-in;
  border-width: 2px;
  border-color: white;
}
body.down::-webkit-scrollbar-thumb{
  background: linear-gradient(0, green, transparent);
  transition: background-color 100ms ease-in;
  border-radius: 15px;
}

.nav-bar ul{
    width: 100%;
    display: inline;
}

.nav-bar ul a{
    text-decoration: none;
    color: rgb(180, 170, 170);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: color;
}

.nav-bar ul a img{
    border-radius: 50%;
    top: 15px;
    left: 15px;
    
}

.nav-bar ul a:hover{
    color: rgb(106, 207, 211);
}

.nav-bar ul a li{
    float: right;
    font-size: 20px;
    margin-right: 35px;
    display: inline;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bar ul a .username{
  margin-top: 8px;
  box-shadow: none;
  border: none;
  font-weight: bold;
  color: rgb(202, 93, 202);
}


.nav-bar ul a .btn{
    margin-top: 8px;
}
.nav-bar ul a .stitle{
    margin-left: 35px;
    float: left;
    font-family: "Allison", 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
    border: none;
}


.welcome-box{
  display: block; 
  position: fixed; 
  z-index: 1;
  float: center;
  padding-top: 10em;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  backdrop-filter: blur(5px);

}

.welcome-box .welcome{
  margin: 15%;
  color: rgba(255, 255, 255, 0.733);
  border-radius: 15px;
  padding: 30px;
  background: linear-gradient(45deg, rgb(134, 116, 81), rgb(146, 113, 113));
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 2px 2px;
}



.welcome-box .welcome #fhwind{
  background: linear-gradient(70deg, rgb(164, 197, 111), rgb(0, 92, 128));
  color: white;
  height: 30px;
  border: none;
  width: 70px;
  border-radius: 5px;
  transition: box-shadow 300ms ease-in-out;
}

.welcome-box .welcome #fhwind:hover{
  color: white;
  background: linear-gradient(70deg, rgb(164, 197, 111), rgb(0, 92, 128));
  box-shadow: 4px 3px 3px 3px;
  backdrop-filter: blur(10px);
}


.search-container{
  position: static;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 50%;
    background-color: rgba(150, 45, 24, 0.26);
    box-shadow: 5px 4px 5px 4px rgba(19, 18, 18, 0.459);
}



.search-container .search-box{
    padding: 25px;
    border: 3px;
}

.search-container .search-box .search-input{
    margin-top: 8px;
    height: 25px;
    background-color: wheat;
    color: rgb(95, 95, 95);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-indent: 6px;
}

.search-container .search-box .search-input:hover{
    font-weight: 600;
    width: 219px;
}

.csc{
  color: bisque;
}

.search-container .search-box .search-btn{
    background: linear-gradient(30deg, rgba(247, 247, 247, 0.3) 50%, rgba(170, 111, 226, 0.4) 100%);
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border: none;
    box-shadow: 2px 3px 2px rgba(25, 55, 25, 0.6);
    color: white;
    transition-property: color, width, height, font-size, box-shadow, padding;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
  }
  
  .search-container .search-box .search-btn:hover{
    color: aliceblue;
    box-shadow: 8px 10px 8px rgba(25, 55, 25, 0.4);
    width: 180px;
    height: 35px;
    font-size: 22px;
    padding: 0;
  }


  .search-container .search-box i{
      color: rgb(214, 189, 189);
      cursor: pointer;
  }


  .form {
    backdrop-filter: blur(5px);
    margin-top: 2%;
    background: linear-gradient(30deg, rgba(201, 229, 235, 0.3) 0%, rgba(24, 29, 80, 0.4) 100%);
    width: 35%;
    padding: 2% 5% 6% 5%;
    border-radius: 10px;
  }
  
  .form table th, input, label{
    color: white;
    
  }
  
  .form table tr td{
    padding: 5px;
    font-size: 20px;
  }
  
  .form table .input_field{
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-indent: 4px;
    color: gray;
  }
  
  .form table input:focus{
    outline: none;
  }
  
  .form table th{
    font-size: 30px;
    padding: 5%;
    margin-bottom: 10px;
  }
  
  .form table tr label{
    display: flex;
    justify-content: flex-end;
  }
  
  .form input[type="submit"]{
    background: linear-gradient(30deg, rgba(33, 98, 136, 0.3) 50%, rgba(113, 52, 170, 0.4) 100%);
    width: 200px;
    height: 38px;
    margin-top: 20px;
    border: none;
    box-shadow: 2px 3px 2px rgba(25, 55, 25, 0.6);
    color: white;
    transition-property: color, width, height, font-size, box-shadow, padding;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-size: 20px;
    border-radius: 6px;
    padding: 5px;
  }
  
  .form input[type="submit"]:hover{
    color: rgb(238, 130, 180);
    box-shadow: 8px 10px 8px rgba(25, 55, 25, 0.4);
    width: 220px;
    height: 45px;
    font-size: 22px;
    padding: 0;
  }


  @media (max-width: 924px) {
    .form table .input_field{
      font-size: 14px;
      width: 160px;
    }
    .form input[type="submit"]{
      width: 150px;
      height: 27px;
      margin-top: 20px;
      font-size: 18px;
      padding: 2px;
  
    }
  
    .form input[type="submit"]:hover{
      box-shadow: 5px 8px 5px rgba(25, 55, 25, 0.4);
      width: 200px;
      height: 35px;
      font-size: 20px;
      padding: 0;
    }
  
    .form table tr td{
      padding: 5px;
      font-size: 16px;
    }
  
    .form table th{
      font-size: 25px;
      padding: 5%;
      margin-bottom: 8px;
    }
  
    .form{
      width: 350px;
      margin-top: 20%;
    }
  
    footer h3{
      font-size: 20px;
    }
  
    footer .about{
      font-size: 16px;
      padding-right: 50px;
    }
  
    footer ul{
      font-size: 16px;
    }
  }
  
  @media (max-width: 644px) {
    .form table .input_field{
      font-size: 14px;
      width: 130px;
    }
  
    .form{
      width: 250px;
      margin-top: 25%;
    }
  
  
    footer h3{
      font-size: 18px;
    }
  
    footer .about{
      font-size: 14px;
      padding-right: 50px;
    }
  
    footer ul{
      font-size: 14px;
    }
    .nav-bar ul li:nth-child(3){
      margin-right: 10px;
    }
  }
  
  
  @media (min-width: 1266px) {
    .form table .input_field{
      font-size: 22px;
      width: 230px;
    }
    .form input[type="submit"]{
      width: 230px;
      height: 40px;
      margin-top: 20px;
      font-size: 22px;
      padding: 2px;
  
    }
  
    .form input[type="submit"]:hover{
      box-shadow: 5px 8px 5px rgba(25, 55, 25, 0.4);
      width: 260px;
      height: 50px;
      font-size: 24px;
      padding: 0;
    }
  
    .form table tr td{
      padding: 5px;
      font-size: 20px;
    }
  
    .form table th{
      font-size: 35px;
      padding: 5%;
      margin-bottom: 8px;
    }
  
    .form{
      margin-top: 4%;
      width: 450px;
    }
  
  }
.user-data{
  color: white;
}